
<h1> Stuping coaching </h1>
<p> Hello you </p>

<%# <form action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form> %>

<p> -- You -- </p>

<div class="form-group">
 <form action= "/answer" data-turbo = "false">
 <label for="type your question here">Questions</label>
  <div class="input-group mb-3">
   <input type="text" name="question" class="form-control" placeholder="type your question here" aria-label="answer" aria-describedby="basic-addon2">
    <div class="input-group-append">
    <button input type="submit" class="btn btn-primary btn-outline-secondary" type="button">Ask!</button>
  </div>
 </form>
</div>
